<tr style="vertical-align: top;">
  <td class="padded nowrap"><%= site.rank %></td>
  <td class="padded nowrap"><%= site.name %></td>
  <td class="padded nowrap"><%= site.url %></td>
  <td class="padded nowrap"><%= site.updated_at %></td>
  <td><small><%= site.description %></small></td>
</tr>